generated_imgs/*
models/*
test_imgs/*
logs/*
other/*
datasets/facades/
dataset/maps/
print/
.DS_Store
*.png
*/*.pyc
*/**/*.pyc
*/**/**/*.pyc
*/**/**/**/*.pyc
*/*.so*
*/**/*.so*
*/**/*.dylib*
test/data/legacy_serialized.pt
*~
.idea
